@charset "utf-8";
html,body, p, input, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form{ margin: 0; padding: 0; list-style: none;}
img{border:none;border:0;vertical-align: middle; border-radius: 10px;
 /* max-height: 100%;  */
 max-width: 100%;    /* 取消寬度控制;  超出隱藏 */}
textarea,input,a,div,img{outline:none;}
li,a,div,nav,header,footer,pd,span,p,body{box-sizing: border-box;}
input,button,textarea{font-family:"tt_1",Arial,'微软雅黑';}

body::-webkit-scrollbar-thumb{background-color:rgba(255,255,255,.2);} 
body::-webkit-scrollbar-thumb:hover{background-color:skyblue;}
body::-webkit-scrollbar{background-color: #00000080;}

html{font-size: 100%}
body{position: relative; font-family:'tt',Arial,'微软雅黑';  background-color:#0d141e; background-image:url(../imgs/bg.jpg ); background-repeat:no-repeat;background-attachment:fixed; background-size: 100% auto;color:#aab9cc; max-width:1920px;}
ul{list-style-type: none;}
a{color:#ffffffc7;text-decoration: none;border: none;}
p{font-size: 14px;line-height: 22px;}
em{font-style: normal;}

h2{font-size: 36px;line-height: 48px;}
h3{font-size: 30px;line-height: 40px;}
h4{font-size: 25px;line-height: 28px;}
h5{font-size: 18px;line-height: 22px;}

@media screen and (max-width: 1024px) { 

	h2{font-size: 24px;line-height: 24px;}
	h3{font-size: 18px;line-height: 18px;}
	h4{font-size: 16px;line-height: 16px;}
	h5{font-size: 14px;line-height: 16px;}
}
pre{white-space: pre-wrap!important;}
*{word-wrap:break-word;}  /*換行打斷英文及其他字符*/
/*index*/
#spe-ico img{position:absolute; left:45px; top:-95px; z-index:999;}
.foot_extend a{font-size:18px; opacity:0.2;}  /*closed*/
.talk{ line-height:30px; margin:30px 0;}

.menu2,.tdiv{
	display:none; position: absolute; padding: 16px 0;
    -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
    background-color: #000000d1; -webkit-box-shadow: 0 1px 2px rgba(7,0,2,.5);
    border: solid 1px #091f29; z-index: 99; 
}
.tdiv{left: 115px; top:-165px;  width: 100px; height:260px;background:red;opacity:0;}
.bgdiv{left: 115px; top:-165px;  width: 100%; height:100%;background:red;}
.type01 { top:45px; width: 270px; min-height:100px;  background-color: #ffffff; border: solid 2px #0253b7;}
.type02 { left: 200px; top:-180px; width: 800px; height:600px; overflow:auto;}
.setLang,.sCat {font-size: 22px; }
.setLang:hover ul{display:block;}
.sCat:hover ul{display:block;}

.menu2 a{color:#000;  font-size:30px; min-width:50px; line-height:50px; margin:0 20px; background-color:#faebd7;}
.menu2:before { 
    content: "";  position: absolute; left:62px; top:-22px; margin-left:-30px; width:89px; height: 22px;
    background:url(../imgs/ico.png) 0 0 no-repeat;
}
/**/
.content{
	position: relative;
}
a.full{position: absolute;left: 0;top: 0;height: 100%;width: 100%;z-index: 9;background-color: #fff;opacity: 0;filter:alpha(opacity=0);}

.pd:after,.footer_cell:after,.foot_extend:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

/*-------------------------------------header----------------------------------*/
.header{
 	position:fixed; 
	top: 0;left: 0;
	height: 100%;width: 180px;
	color: #ababab;
	z-index: 99;
}
.nav{
	position: relative;
	width: 180px;
	z-index: 99;
}
.logo{
	position: relative;
	width: 100%;
	margin: 20px 0;
}
.logo img{
	padding-left:10%;
	max-width: 40%;
}
.nav>ul{
	position: relative;
	margin-left:5px;
	z-index: 999;
}
.nav>ul>li{position: relative;height:55px;width: 95%; padding-left:10%;}
.nav .title{
	position: relative;
	height: 40px;
	overflow: hidden;
	z-index: 99;
}
.nav .title em{
	position: absolute;
	height: 40px;width: 100%;
	top: 40px;left: 0;
	font-size: 13px;
	color: transparent;
	transition: 0.4s;
}
.nav .title a{
	position: absolute;
	left: 0;top: 0;
	color: #ffffffc7;
	font-size: 18px;
	height: 40px;width: 100%;
	letter-spacing: 2px;
	z-index: 99;
	transition: 0.4s;
}
.nav li.on:before{
	content: '';
	position: absolute;
	top: 5px;left: 0;
	width: 3px;height: 30px;
	background-color: #999;
}

.header_info{
	position: fixed;
	max-width: 180px;
	text-align: left;
	bottom: 8%;
	padding:0 30px;
	right:2%;
	z-index:999;
}
.header_info img{max-width: 60px;}

.side_close{
	display: none;
	position: fixed;
	right: 0;left: 0;top: 0;bottom: 0;
	background-image: url(../imgs/close-btn.png);
	background-repeat: no-repeat;
	background-position: 95% 2%;
	background-color: rgba(0,0,0,.9);
	z-index: 999;
	-webkit-transform: translateZ(0);
	transition: 0s;
}
.nav_icon{
	display: none;
	position: absolute;
	z-index: 99;
}

/*------------------------------------------------------------------------------------------*/
.pd{
	position: relative;
	margin: 50px auto;
	margin-bottom: 60px;
}
.pd_title{
	position: relative;
	-webkit-transform:translateZ(0);
}
.pd_title .setting{
	position: relative;
	padding: 4px 0;
	margin-bottom: 20px;
}
.pd_title .setting span{
	position: relative;
	color: #4f79c5;
	font-size: 30px;
	font-family:"tt", Arial,'MingLiU';
	/*text-transform: uppercase;*/
}
.pd_title .setting span:after{
	content: "";
	display: block;
	position: absolute;
	padding: 4px 0;
	width: 100%;
	border-bottom: 1px solid #4f79c5;
	z-index: 1;
}
.pd_title .setting a{
	position: absolute;
	right: 0;
}
.pd_title .setting:after{
	content: "";
	display: block;
	position: absolute;
	padding: 4px 0;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
	z-index: 0;
}
.home{margin-top: 10px;}
.home .pd_title{
	text-align: center;
}
.home .pd_title .setting:after{display: none;}
.home .pd_title>p:after{
	content: "";
	position: absolute;
	left: 50%;bottom: -18px;
	margin-left: -30px;
	width: 60px;height: 3px;
	background-color: #FF7020;
	text-transform: uppercase;
}
.home .pd_title>p{
	position: relative;
	font-size: 46px;
	line-height: 46px;
	margin-bottom: 30px;
	font-family:'blank','tt',Arial,'微软雅黑';
}
.home .pd_title .setting p{font-size: 16px;color: #999;letter-spacing: 1px;font-family:'blank','tt',Arial,'微软雅黑';font-weight: 700;}

/*------------------------------*/
.ser_group{width: 100%;margin: 0 auto;}
.ser_box{
	position: relative;
	float: left;
	width: 33%;
}

.ser_box p{font-size: 18px;padding-top:5px;padding-bottom:10px;text-align: center;background-color:#6060603d;transition: 0.3s;}

.ser_box .img{position: relative; height:100%;}

.box_layer{
	position: absolute;
	left: 0;top: 0;right: 0;bottom: 20px;
	margin: 20px;
	background-color: #111;
	opacity: 0;filter:alpha(opacity=0);
	transition: 0.3s;
}

.ser_box .img span{
	position: absolute;
	width: 100%;
	left: 0;top: 60%;
	padding: 0 40px;
	font-size: 13px;
	line-height: 22px;
	text-align: center;
	color: #fff;
	z-index: 9;
	opacity: 0;filter:alpha(opacity=0);
	transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transition: 0.5s;
}

.ser_box:hover .img .box_layer{opacity: 0.5;filter:alpha(opacity=50); margin: 30px;}
.ser_box:hover .img span{top: 50%;opacity: 1;filter:alpha(opacity=100); font-size:18px;}



/*--------------------------------------------about----------------------------------------------*/

.setting{margin-top: 6px;}
.setting span{
	display: inline-block;
	padding-top: 10px;
	font-size: 36px;
	line-height: 36px;
}

/*--------------------------------------gallery------------------------------------------*/

.catg_name~.side_r{clear:both;}

/*--------------------------------------news------------------------------------------*/

.setting{padding-top: 6px;}

.btn_2{margin: 40px;}
.btn_2 a{
	position: relative;
	display: block;
	font-size: 16px;
	background-color: #E0E0E0;
	color: black;
	width: 240px;height: 50px;
	line-height: 50px;
	left: 50%;margin-left: -120px;
	text-align: center;
	transition: 0.3s;
}

.setting{margin-bottom: 36px;}
.side_r .pd_title{margin: 0;}
.news_detail{padding: 25px 0;}

.side_r .list_item:after{display: none;}


/*--------------------------------------------通用2----------------------------------------------*/

.side_r{
	position: relative;
	min-height: 100px;
}

.side_r{
}

.pd_title{margin: 0}
.pd_title>p,.form .pd_title>p{font-size: 16px;}
.setting{margin: 0;padding: 0;}
.setting p span{font-size: 16px;color: #111;font-family:Arial,'微软雅黑';}
.setting p span:after{display: none;}

.catg_name{
	position: relative;
	top: 0; 
	width: 100%;min-height: 40px;
	z-index: 9;
}

.catg_name a{
	display: inline-block;
	height: 100%;
	padding: 5px 20px;
	transition: 0.3s;  /*延遲加載*/
	font-size: 18px;
}
.catg_name a:last-child{margin-bottom: 0;}
.catg_name a.on{color: #fff;background-color: #d8d8d82e;}

.pd_title p{
	font-size: 21px;
}


/*----------按鈕共用----------*/
a.btn_2{
	position: relative;
	margin-top: 20px;
	display: block;
	height: 36px;
	width: 100%;
	line-height: 36px;
	text-indent: 10px;
	font-size: 12px;
	color: #000;
	background-color: #e7e7e7;
	background-color: rgba(0,0,0,.05);
	z-index: 99;
	transition: 0.3s;
}

a.btn_2:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #4f79c5;
	opacity: 0;
	transition: 0.3s;
	z-index: -1;
}
a.btn_2:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 97%;
	height: 100%;
/*  background-image: url(../imgs/);  */
	background-repeat: no-repeat;
	background-position: right;
	transition: 0.3s;
}

.ctrl{
	padding: 25px 0;
	font-size: 0;
}
.ctrl a{
	position: relative;
	display: inline-block;
	margin: 0;
	margin-right: 0.33%;
	height: 60px;
	font-family: lg;
	line-height: 60px;
	width: 33%;
	background-color: #ffffff0d;
}
.ctrl a:after{display: none;}
a#back:after,a#prev:after,a#next:after{
	position: absolute;
	text-align: center;
	line-height: 60px;
	display: block;
	font-size: 24px;
	color: #999;
	top: 0;left: 0;
	width: 100%;height: 100%;
	transition: 0.3s;
}
a#back:after{content: 'Return';}
a#prev:after{content: 'Prev';}
a#next:after{content: 'Next';}

.page{
	position: relative;
	margin: 20px auto;
	margin-bottom: 10px;
	text-align: center;

}
.page li{
	display: inline-block;
	background-color: #e7e7e7;
	background-color: rgba(0,0,0,.05);
	transition: 0.3s;
}
.page li a{
	display: inline-block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	color: #000;
	box-sizing: border-box;
}
.page_on a{
	color: #fff !important;
	background-color: #4f79c5;
}
.page li:hover{
	opacity: 0.8;
}


/*---------------------------------------contact-----------------------------------------*/

.pd_title{margin: 10px 0;margin-bottom: 20px;}

/*--------------------------------------底部-------------------------------------------*/
.footer{
	width: 100%;
	/* background-image: url(../imgs/bg.png); */
	transition: 0.3s;
}

.footer  a:hover{color: #999;}

.follow{position: fixed;left: 0;bottom: 56px;width: 200px;padding: 0 15px; line-height: 25px}
.follow span{
	position: relative;
	display: inline-block;
	font-family: 'mysocial';
	opacity: 1;filter:alpha(opacity=100);
	background-color: #ddd;
	margin: 0 3px;
	width: 70px;height: 30px;
	border-radius: 15px;
	transition: 0.4s;
}
.follow span:after{
	position: absolute;
	font-size: 20px;color: #555;
	width: 100%;height: 100%;left: 0;top: 0;line-height: 30px;
	text-align: center;
	transition: 0.4s;
}

.m_fb:after{content: 'Fb';}
.m_tw:after{content: 'Twitter';}
.m_ins:after{content: 'Ins';}
.m_line:after{content: 'None';}

.m_fb:hover{background-color: #73c5ec;}
.m_tw:hover{background-color: #fe5f27;}
.m_ins:hover{background-color: #fe5f27;}
.m_line:hover{background-color: #f54646;}

.follow span:hover:after{color: #fff;}

.copy{padding: 0 15px;font-size: 16px;line-height: 20px;position: fixed;bottom: 10px;width: 280px;}
.copy span{display: block;color: #ccc;opacity: 0.5;font-size: 11px;}
.copy a{color: #999 !important;}

.foot_img{text-align: center;margin-bottom: 30px;}
.foot_img img{margin: 20px 0;}
.foot_box span,.foot_box a{font-size: 18px;color:#f1f1f1;}
.foot_extend{font-size: 0; padding-bottom:150px;}
.for4{float: left;width: 25%;}
.fLeft{margin-right:40px;}
.foot_extend p{position: relative; margin-bottom: 30px;font-size: 20px;border-bottom:1px solid #ccc;padding-bottom: 10px; }

.foot_extend a{
	display: block;
	line-height: 24px;
	overflow: hidden;
	min-height: 24px;
}
.foot_extend span{line-height: 24px;}
/*.foot_extend a:hover{color: #67b48e;}*/

.foot_extend img{max-width: 100%; }
.line{border-bottom: 1px solid #e1e1e1;margin-bottom: 30px;}

.content{padding:0 180px;}

.pd_title p img{max-width: 70%;}
.ser_box{/* height:220px; */ padding:5px 5px; } /*盒子高度*/	
/* .ser_box{margin-bottom:50px;} */  /*盒子高度  */  
.ser_box .img{overflow:hidden;}

.ser_box p{height:30px;overflow:hidden;}

/*newsAll 統一樣式*/
.isBtn0,.isBtn1{position:absolute;top:70px; font-size:25px;}
.isBtn0{left:10%;}
 .isBtn1{right:10%;  }
 .pageInfo{position:relative; background-color:#b1b1b10f; width:60%; 
 min-height:185px;}
 .jumpArea{position:absolute; top:150px;  background-color:#0064b314; }
.jumpArea a{font-size:20px; margin-left:10px; }
 .newsAllTitle p{font-size:16px; height:44px; 
 display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;} 
 #newsAll{margin-top:25px;}
 #newsAll li{float:left; width:22%;margin-left:1%;overflow:hidden;}
 .imgSize{overflow:hidden; margin-top:5px;height:100%; padding-bottom:2px;}
 .isms{margin-top:70px; margin-bottom:100px;}
 .aLists{text-align:center; word-wrap:break-word;  word-break:break-all;  line-height:35px; }

 /**/

	
input{outline:medium;border-radius: 3px;
	-webkit-appearance: none;
	border:1px solid #dedede;
	transition: 0.4s;
	}
.logo img{max-height:100%;}

/*footer*/
.foot_extend img{width:48px; height:auto;}
.foot_extend a{font-size:18px; }  
#spe-ico img{position:absolute; left:45px; top:-95px; z-index:99;}
.top-ico li{float:left; width:85px; margin-bottom:10px; vertical-align:middle; text-align:center;}

ol,ul{padding:0px;}
/*searAlert*/
#data_list{min-width:229px;position:absolute;z-index:99;
background-color:#ffffff; margin:15px 6px;
box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18)}
#data_list li a:hover{background-color:rgba(17,30,15,0.36)}

.link_li a{color:#404040;padding-right:10px; display:block;}
.link_li{line-height:30px; padding-bottom:15px;}

/* news.css */
.jumpArea a{font-size:20px; margin-left:10px; }
.aLists a:hover, .jumpArea a:hover{color:red;}
.istxt {clear:both;}
.current{ background:#c1b0b07a; } 
.list0,.list1,.current{padding:0 20px; font-size:24px;}
.list1{color:#cacaca;}
.list2{background-color:#00000026;}
 
/**/

/*2分圖片文本*/
.btn0{color:red;width:100%;display:inline-block;font-size:20px;}
.btn0:hover{cursor:pointer;}

.engfont{font-size: 18px; color: rgb(91, 155, 213); width:90%; background-color:#86791d0d;max-height:250px;overflow: hidden;}
.itemtype{color: rgb(91, 155, 213);overflow:hidden; position:relative; display:block;width:100%; font-size:26px;} /*new eng*/
.thaifont{ font-size:27px; overflow:hidden;}
.vnfont{font-family:Segoe UI; font-size:22px; overflow:hidden;}

.dtUl li{float:left;margin-bottom:10px;}
.tdPic{max-height:100%; width:100%;overflow:hidden;padding-right: 10px;
/*  background-color:#e8e8e82e; */}
.tdTxt{max-height:245px;width:100%;overflow:hidden;}
.tdPic img{max-width:100%;height:auto;}  
.dtUl,.ctrl{clear:both;}

.vnfont,.thaifont,.itemtype{display:inline-block; max-height:65px;}
.tdTxt a{color:red;width:100%;display:inline-block;font-size:25px;}

.tdPic{/* border:1px solid #386dbf3d; */}
.tdPic:first-child:hover{border-color: red;}

.pdetail{clear:both; /* background-color:#dcdcd39c; */}
.pdetail, .pdetail p, .pdetail span, .pdetail div{font-size:25px; font-family:Segoe UI; line-height:35px;}
.pdetail h1{font-size:32px; font-weight: 100;}

.off{display:none;}

/*創建詳情圖 */
.showdt{position:absolute;  z-index:990; width:100%; height:100%; text-align:center; background-color:#091f2987; min-height:90%; top:0;}
.showdt img{margin-top:10px;}
.cbtn{width:60px; height:60px;display:none; position:fixed; z-index:999; left:5%; background-image: url(../imgs/close-btn.png); background-repeat: no-repeat; background-size:cover;background-color:#091f2987; bottom:8%;
	-webkit-animation: glow 800ms ease-out infinite alternate;  /*閃爍*/
    -moz-animation: glow 800ms ease-out infinite alternate;
    -o-animation: glow 800ms ease-out infinite alternate;
    -ms-animation: glow 800ms ease-out infinite alternate;
    animation: glow 800ms ease-out infinite alternate;  /*瀏覽器兼容*/
}
.lanCor{background-color: rgba(78, 112, 183, 0.44);}
.addLig{-webkit-animation: glow 800ms ease-out infinite alternate;  
    -moz-animation: glow 800ms ease-out infinite alternate;
    -o-animation: glow 800ms ease-out infinite alternate;
    -ms-animation: glow 800ms ease-out infinite alternate;
    animation: glow 800ms ease-out infinite alternate; }
.addLig::-webkit-input-placeholder{
  color: red;
}
.addLig:-moz-placeholder {
  color: red;
}
.addLig:-ms-input-placeholder{
  color: red;
}
.addLig::-moz-placeholder {
  color: red;
}
/*閃爍*/
@-webkit-keyframes glow {
    0% {
		border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 0 0 0;}   
    100% {
		border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 0 0 0;}
}
@-moz-keyframes glow {
    0% {
		border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 0 0 0;}   
    100% {
		border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 0 0 0;}
}
@-o-keyframes glow {
    0% {
		border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 0 0 0;}   
    100% {
		border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 0 0 0;}
}
@-ms-keyframes glow {
    0% {
		border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 0 0 0;}   
    100% {
		border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 0 0 0;}
}
@keyframes glow {
    0% {
		border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 0 0 0;}   
    100% {
		border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 0 0 0;}
}
/**/

.showdt li{width:100%;min-height:400px;}  /*設置圖片加載間距*/
#Cus0{display:none;}   /*詳情圖關閉*/
/*video*/
.video1{
width:100%; height:auto;
background-size:  auto 100%;
background-repeat: no-repeat;
background-position: center;
background-color:#0000001f;
text-align:center; opacity:0.4;
}
.video0 img{opacity:0.4}
.video0{width:100%;max-height:600px;position:relative; overflow:hidden; clear: both; margin:0 auto;}
.Lpic{width:30%;}
.tdTxt{width:65%;}
/*---------------------------------------自適應----------------------------------------*/
@media screen and (min-width: 1920px) {
	body{margin:0 auto;}
	.header,.follow{left:auto;}
}
@media screen and (max-width: 1480px) {
	.for4{width:45%;}
}
@media screen and (min-width: 1025px) { 
	/* .video0:hover .video1{height:750px;} */
	.video0:hover{max-height:750px;}
	
	.nav .title a:hover{text-indent: 2px;}
	.nav .title:hover a{top: -40px;color: transparent;}
	.nav li:hover .title em{color: #d4591c; /* background-color:#d8d8d82e; */}
	.ser_box:hover p{background-color: #293747;}
	.btn_2 a:hover{background-color: skyblue;}
	a.btn_2:hover:before{height: 100%;opacity: 1;}
	.ctrl a:hover:after{color: #fff !important;}
	
	.ser_box{width:33%;}
   .isOn{margin-top:20px;margin-left:200px;}
   .isUnder{line-height:35px;margin-left:200px;}
/* .imgSize{height:100%;}   */
  .pageInfo{width:70%; }
  .serArea{margin-left:1%;margin-bottom:25px;}
  .newsAllTitle p{ height:66px;}       /**/
 
  #isMenu2{display:block;}     /*默認隱藏菜單*/
  .istxt{padding-left:210px;padding-top:10px;}
  .cbtn{left:15%; }

}

@media screen and (max-width: 1024px) {   
	.header_info,.follow,.nav_footer,.box_layer{display: none;}  /*跟隨*/
	.logo{position:absolute; /* display:none; */ }
	.logo img{padding-left:30px;}
	.logo,.nav_icon,.header_info{height: 60px;}
	.logo,.nav_icon{ margin:10px 0;}
	.nav_icon{display: block;position:absolute; right:20px; }
	.catg_name{display: block; left: 0;position: relative;}
	.content, .footer{padding:0 10px;}
	.header,.nav{width: 100%; height:60px; position:absolute;}

	.home .pd_title>p{font-size: 18px;}
	.ser_box p {font-size: 18px;padding-top:5px;padding-bottom:10px;}
	.ser_box .img span{display: none !important;}
	.pd,.footer_cell,.ser_group{width: 100%;margin: 0 auto;}

	.nav>ul{position:fixed;left:auto;width:100%;text-align:center; top:15%; height:80%;overflow:auto;}
	.nav>ul>li{display:block;line-height:30px;text-align:left;padding-left:10%; height:65px;padding-bottom:80px;}
	.nav .title a{position: relative;font-size: 27px;line-height: 40px;color:#ffffffc7 !important;padding: 0;}
	.nav .title em{position: relative;top: 0;padding-left: 10px;opacity: 0.5;color: #fff;}
	.nav>ul>li:after,.sub{display: none !important;}

	.pd{margin-bottom:20px;}
	.pd_title .setting span, .setting span, .setting span{font-size: 18px;line-height: 22px;}

	.btn_2{margin: 0;}
	.btn_2 a{width: 100%;left: 0;margin-left: 0;height: 30px;line-height: 30px;font-size: 14px;}

	.side_box .setting p span{display: none;}
	.contact_mini,.side_box .pd_title,.side_box>a{display: none;}
	.side_r{width: 100%;z-index: 1;}
	.side_box{border: none;padding: 0;margin: 0;min-height: 0;}
	.catg_name a{position:relative; float:left; padding:5px 10px;
	 font-size: 25px; margin-left:15px;border:none;}
	.side_box{display: none;}

	.pd_title{display: block;}

	.pd_title .setting a{display: none;}
	.foot_box span,.foot_box a{font-size: 12px;}
	.foot_extend p{margin-bottom: 5px;}
	.foot_extend a{line-height: 20px;}
	
	p.copy{width: 100%;float: none;text-align: center;}
	.foot_extend span{line-height: 16px;}

	.header_info{bottom:8%; right:2%; padding:0 20px; display:block; }
	.news_detail, .catg_name{top:85px;}
	
	.ser_box{width:50%;}
    #newsAll li{ width:45%; margin-left: 3%;}
/* .imgSize{max-height:220px;}   */
   .pageInfo{width:80%; }
	.isBtn0{left:5%;}
   .isBtn1{right:5%; }
	.serArea{padding-top:75px; margin-left:3%;}
	.newsAllTitle p{-webkit-line-clamp:2;}
	
	.istxt, .isUnder{padding:0 10px;}
	.isUnder{margin-top:100px;}
	.video0{width:100%; margin-top:100px;}
	
	.Lpic{width:40%;}
   .tdTxt{width:60%;}
   
   .type02{width:84%; height:350px; left:5%; padding-right:15%; top:-160px;}
   .menu2 a{font-size:21px;  line-height:66px;}
   .menu2{border: solid 1px #8e8e8e; background-color:black;}
   .tdiv{width:0;height:0;left:0;top:0;}
  
   .type01{ background-color: #ffffff; border: solid 2px #0253b7; top:50px;}
	
}

@media screen and (max-width: 768px){
   .Lpic{width:50%;}
   .tdTxt{width:50%;}
	input{width:80%;}
}
@media screen and (max-width: 640px) {
	.for4{width:90%;}
}  
@media screen and (max-width: 425px){
   .Lpic{width:100%;}
   .tdTxt{width:100%;}
}
@media screen and (max-width: 400px) { 
.ser_box{width: 100%;  } 
.foot_box span, .foot_box a{font-size: 10px;}
.foot_extend p{font-size: 11px;}
.footer_cell{padding: 0 4px;}
.for4{padding-right: 10px;}
.foot_extend{margin: 0;}
.ser_box img{width:100%;}

.pageInfo{width:95%; }
 .isBtn0{ left:2px;}
 .isBtn1{right:2px;}
}

.istxt img{margin-bottom:10px;}
.ctrl{margin-top:100px;}